@import 'nib'

#controls
    padding: 10px

h1
    margin: 5px 0

header li
    margin-right: 15px

footer
    text-align: center
    color: #aaa

#main
    position: relative

canvas
    position: absolute
    top: 0
    left: 0

#logo
    height: 50px
