@import 'nib'

#controls
    padding: 10px

h1
    text-align: center

footer
    text-align: center
    color: #aaa

#main
    position: relative

canvas
    position: absolute
    top: 0
    left: 0
